.list_container{
     height:60vh;
     /* background-color: #59bfff; */
     width: 40vw;
     margin:auto;
     border: 3px solid #DDFFE7;
     border-radius: 8px;
     color: #59bfff;
     overflow-y: auto;
     /* box-shadow: 1px 3px #DDFFE7; */
     
}
 
.list_container ul{
     list-style-type: none;
     padding: 3px 0;
}

