h2{
  background-color: #29A0B1; 
  color:white;
  margin:0;
  text-align: center;
  padding: 10px
}

button{
  background-color: #29A0B1;
  color:white;
  border-radius: 8px;
  padding: 10px;
  border:none;
  font-size: 1rem;
}

