html {
  height: 100%;
  
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size:1rem;
  color: white;
  /* margin: 0 auto; */
  /* list-style-type: none; */
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px     #59bfff; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px     #59bfff; 
}
